@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Mono:wght@200;300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: Mark Pro;
  src: url(../fonts/MarkPro.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-white: #ffffff;
  --bg-main: #e5e5e5;
  --bg-secondary: #f3f3f3;
  --primary-color: #136951;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  /* background-color: #000; */
  color: #ffffff;
}

#__next {
  width: 100%;
}

.app-container {
  /* max-width: 1200px; */
  margin: auto;
  padding: 0 5rem;
  overflow: hidden;
  background-color: #000;
}

.scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  /* background-color: #f5f5f5; */
  background-color: #222;
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
  /* background-color: #f5f5f5; */
  background-color: #000;
}

.scrollbar.horizontal::-webkit-scrollbar {
  height: 7px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(171, 167, 217, 0.5);
}

/* ===================================
    HERO STYLE STARTS HERE
====================================== */

.inux-hero-con {
  min-height: 100vh;
  background-color: #000;
  overflow-x: hidden;
  overflow-y: hidden;
  /* background-color: blue; */
}

.inux-hero-con .app-header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  z-index: 20;
}

.mouse-follow {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  width: 30px;
  height: 30px;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.inux-hero-con .logo-con {
  max-width: 300px;
}

.inux-hero-con .logo-con img {
  width: 100%;
}

.inux-hero-con .routes-flex {
  gap: 70px !important;
}

.inux-hamburger-menu {
  display: none;
}

.inux-hero-con .routes-flex a {
  text-decoration: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  transition: all 0.3s ease;
}

.inux-hero-con .routes-flex a:hover {
  opacity: 0.7;
}

.inux-hero-con .content {
  padding-left: 5rem;
  margin-top: 120px;
}

.inux-hero-con .content > div {
  flex: 1;
}

.inux-hero-con .text-content {
  /* max-width: 600px; */
  padding-right: 2rem;
}

.inux-hero-con .content .top-text-con {
  margin-left: 2rem;
}

.inux-hero-con .content .top-text-con .img-con {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.inux-hero-con .content .top-text-con .img-con img {
  width: 100%;
  height: 100%;
}

.inux-hero-con .content p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
}

.inux-hero-con .content h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 72px;
  color: #ffffff;
}

.inux-hero-con .content h2 span {
  color: var(--primary-color);
}

.inux-hero-con .content h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 27px;
  color: #ffffff;
  font-weight: 300 !important;
}

.inux-hero-con .content .btn-con {
  position: relative;
  gap: 50px;
}

.inux-hero-con .content .btn-con .btn-icon-con {
  position: absolute;
  top: -26px;
  left: -11%;
  max-width: 250px;
  z-index: 10;
  pointer-events: none;
}

.inux-hero-con .content .btn-con .btn-icon-con img {
  width: 100%;
}

.inux-hero-con .content .btn-con svg {
  height: 23px;
  width: 23px;
  margin-right: 10px;
}

.inux-hero-con .content .btn-con button:nth-of-type(1) {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  padding: 10px 30px;
  /* border-radius: 12px; */
}

.inux-hero-con .content .btn-con button:nth-of-type(2) {
  background-color: transparent;
  border-color: #ffffff;
  padding: 10px 30px;
  color: #ffffff;
  /* border-radius: 12px; */
}

.inux-hero-con .gradient-img-con {
  max-height: 650px;
  max-width: 650px;
  position: relative;
  width: 100%;
  height: 100%;
}

.inux-hero-con .gradient-img-con > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inux-hero-con .gradient-img-con img,
.inux-hero-con .gradient-img-con .yellow-img-con img {
  width: 100%;
  height: 100%;
}

.inux-hero-con .gradient-img-con .bitcoin-img-con {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-43%, -50%);
  height: 400px;
  width: 400px;
}
.inux-hero-con .gradient-img-con .yellow-img-con {
  position: absolute;
  top: 10%;
  right: 0;
  width: 50px;
}

.inux-hero-con .gradient-img-con .green-bitcoin-img-con {
  position: absolute;
  top: 17%;
  left: 0;
  width: 80px;
}

.inux-hero-con .gradient-img-con .sold-img-con {
  position: absolute;
  bottom: 25%;
  right: 0;
  height: 150px;
}

.lower-item-icon {
  position: absolute;
  bottom: -6%;
  left: 6%;
  right: 0;
  height: 140px;
}

.lower-item-icon > div {
  height: 100%;
}

.counter-con {
  border: 2px solid #ffffff;
  box-sizing: border-box;
  filter: drop-shadow(43px 4px 4px rgba(0, 0, 0, 0.54));
  border-radius: 13px;
}

.counter-con .counter-item-con {
  gap: 7px;
}

.counter-con > p {
  font-family: Roboto Mono !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 13px !important;
  line-height: 17px !important;
  color: #ffffff !important;
}

.counter-border {
  border: 1px solid #136951;
}

.counter-con h6 {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 500;
  font-size: 7.48598px;
  line-height: 10px;
  color: white;
}

.counter-value {
  font-family: Roboto Mono !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 28.0724px !important;
  line-height: 37px !important;
  color: #ffffff;
}
/* ===================================
    HERO STYLE ENDS HERE
====================================== */

/* ===================================
    SECOND SECTION STYLE STARTS HERE
====================================== */
/* .inux-second-section-container .second, */
.inux-second-section-container .first,
.inux-second-section-container .third {
  gap: 2rem;
  margin-bottom: 6rem;
}

.inux-second-section-container .third {
  margin-bottom: 3rem;
}

.inux-second-section-container .first > div,
.inux-second-section-container .second > div,
.inux-second-section-container .third > div {
  flex: 1;
}

.inux-second-section-container .first .text-content,
.inux-second-section-container .third .text-content {
  max-width: 750px;
}

.inux-second-section-container .second .text-content {
  border-left: 1px solid #136951;
}

.inux-second-section-container .first .text-content h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 45.8905px;
  line-height: 55px;
  color: #ffffff;
}

.inux-second-section-container .first .text-content p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15.4675px;
  line-height: 22px;
  color: #ffffff;
}

.inux-second-section-container .first .img-con,
.inux-second-section-container .second .img-con,
.inux-second-section-container .third .img-con {
  max-width: 700px;
}

.inux-second-section-container .first .img-con img,
.inux-second-section-container .second .img-con img,
.inux-second-section-container .second .item .icon-con img {
  width: 100%;
}

.inux-second-section-container .second .item {
  gap: 1.2rem;
}

.inux-second-section-container .second .item .icon-con {
  width: 80px;
  height: 80px;
}

.inux-second-section-container .second .item .item-text {
  max-width: 400px;
  gap: 0.4rem;
}

.inux-second-section-container .second .item .item-text h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  color: #ffffff;
}

.inux-second-section-container .second .item .item-text p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.inux-second-section-container .big-btn-con button {
  gap: 1rem;
  border: 2.6px solid #106e54;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;

  color: #ffffff;
}

.inux-second-section-container .big-btn-con button:hover {
  box-shadow: 0px 5px 15px rgba(16, 110, 84, 0.7), 0px 5px 20px rgba(16, 110, 84, 0.5);
}

.inux-second-section-container .third-header h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 61px;
  text-align: center;
  color: #ffffff;
}

.inux-second-section-container .third .text-content p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 37px;

  color: #ffffff;
}

/* ===================================
    SECOND SECTION STYLE ENDS HERE
====================================== */

/* ===================================
    CRYPTO CARDS STYLE ENDS HERE
====================================== */
.crypro-cards-grid-container {
  margin-bottom: 4rem;
}

.crypro-cards-grid-container .crypro-cards-grid-con {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* grid-template-columns: 1fr 1fr 1fr; */
  gap: 2rem;
  justify-content: center;
  max-width: 900px;
  /* justify-items: center; */
}

.crypro-cards-grid-container .crypto-card {
  position: relative;
}

.crypro-cards-grid-container .crypto-card > div {
  position: relative;
  background-color: #000;
  z-index: 10;
  gap: 0.2rem;
  padding: 32px 0;
  /* padding: 32px 48px; */
}

.crypro-cards-grid-container .crypto-card::after {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  background: linear-gradient(
    270deg,
    #4de6b8 0%,
    #60e9d0 11.98%,
    #04cdee 54.17%,
    #2794fc 72.49%,
    #4b65fd 82.76%,
    #7a27ff 100%
  );
}

.crypro-cards-grid-container .crypto-card .icon-con {
  width: 30px;
  height: 30px;
}

.crypro-cards-grid-container .crypto-card .icon-con img,
.crypro-cards-grid-container .crypto-card .stock-con img {
  width: 100%;
}

.crypro-cards-grid-container .crypto-card .stock-con {
  width: 80px;
  margin-bottom: 17px;
}

.crypro-cards-grid-container .crypto-card h5 {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 19px;
  color: #ffffff;
  opacity: 0.7;
  margin: 5px 0;
}

.crypro-cards-grid-container .crypto-card p {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.crypro-cards-grid-container .crypto-card h6 {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 21px;
  color: #ffffff;
  opacity: 0.56;
}

/* ===================================
    CRYPTO CARDS STYLE ENDS HERE
====================================== */

/* ===================================
    CORE TEAM STYLE STARTS HERE
====================================== */
.inux-core-team-section .btn-con button {
  gap: 6px;
  border: 2.6px solid #106e54;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 19.9989px;
  line-height: 25px;
  color: #ffffff;
}

.inux-core-team-section .btn-con button:hover {
  box-shadow: 0px 5px 15px rgba(16, 110, 84, 0.7), 0px 5px 20px rgba(16, 110, 84, 0.5);
}

.inux-core-team-section .btn-con button img {
  max-width: 30px;
}

.inux-core-team-section .title h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 74px;
  color: #ffffff;
  margin: 2rem 0;
}

.inux-core-team-section .title p {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  opacity: 0.6;
}

.inux-core-team-section .core-team-con h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 59px;
  color: #ffffff;
}

.inux-core-team-section .core-team-con .first-grid-con,
.inux-core-team-section .core-team-con .second-grid-con {
  max-width: 900px;
  display: grid;
  gap: 150px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  margin-left: auto;
  margin-right: auto;
}

.inux-core-team-section .core-team-con .second-grid-con {
  max-width: 1200px;
}

.inux-core-team-section .core-team-con .first-grid-con .item,
.inux-core-team-section .core-team-con .second-grid-con .item {
  max-width: 170px;
}

.inux-core-team-section .core-team-con .first-grid-con .item .img-con img,
.inux-core-team-section .core-team-con .second-grid-con .item .img-con img {
  width: 100%;
  margin-bottom: 0.7rem;
}

.inux-core-team-section .core-team-con .first-grid-con .item p,
.inux-core-team-section .core-team-con .first-grid-con .item h5,
.inux-core-team-section .core-team-con .second-grid-con .item p,
.inux-core-team-section .core-team-con .second-grid-con .item h5 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

.inux-core-team-section .core-team-con .first-grid-con .item h5,
.inux-core-team-section .core-team-con .second-grid-con .item h5 {
  color: #106e54;
  margin-top: 0.4rem;
}

/* ===================================
    CORE TEAM STYLE ENDS HERE
====================================== */

/* ===================================
    MARKET CURRENCY STYLE STARTS HERE
====================================== */
.inux-table-section-container .market {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #136951;
}

.inux-table-section-container .market h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 29px;
  line-height: 39px;
  color: #ffffff;
}

.inux-table-section-container .market-price {
  gap: 10px;
}

.inux-table-section-container .market h5 {
  background: #136951;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 9px;
}

.inux-table-section-container .market h6 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  opacity: 0.7;
}

.inux-table-section-container .input-con {
  gap: 10px;
}

.inux-table-section-container .input-con p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}

.inux-table-section-container .input-con input {
  background: rgba(196, 196, 196, 0.16);
  border: none;
  outline: none;
  color: #ffffff;
  padding: 5px 10px;
}

.inux-table-section-container .inux-table {
  background: linear-gradient(79.3deg, #000000 0.07%, rgba(0, 0, 0, 0) 89.25%),
    linear-gradient(
      222.71deg,
      #136951 -2.26%,
      rgba(19, 105, 81, 0.71) 33.11%,
      rgba(19, 105, 81, 0.46) 62.8%
    );
  border-radius: 19px;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.table > :not(caption) > * > * {
  border-bottom: none !important;
}

.inux-table-section-container .inux-table tr {
  border-bottom: 1px solid black;
}

.inux-table-section-container .inux-table td,
.inux-table-section-container .inux-table th {
  border-left: 1px solid black;
  padding: 8px 15px;
}

.inux-table-section-container .inux-table th button {
  gap: 40px;
}

.inux-table-section-container .inux-table th button,
.inux-table-section-container .inux-table td p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  padding: 0;
}

.inux-table-section-container .inux-table td .first {
  min-width: 200px;
  gap: 9px;
}

.inux-table-section-container .inux-table td .chart {
  gap: 9px;
}

.inux-table-section-container .inux-table td .first img {
  width: 30px;
}

.inux-table-section-container .inux-table td .chart img {
  width: 15px;
}

.quarter-review-container .grid-con {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 2rem;
}

.quarter-review-container .quarter-item {
  max-width: 250px;
}

.quarter-review-container .quarter-item:nth-of-type(2),
.quarter-review-container .quarter-item:nth-of-type(4) {
  transform: translateY(20px);
}

.quarter-review-container .quarter-item img {
  width: 100%;
}

.quarter-review-container .quarter-item h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 23.1875px;
  line-height: 27px;
}

.quarter-review-container .quarter-item h6 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}

.quarter-review-container .quarter-item p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #ffffff;
}

.table-bottom-divider {
  border: 1px solid rgba(255, 255, 255, 0.53);
  max-width: 1300px;
  margin: 5rem auto;
}

/* ===================================
    MARKET CURRENCY STYLE ENDS HERE
====================================== */

/* ===================================
    ROAD MAP STYLE STARTS HERE
====================================== */
.inux-roadmap-container .title button {
  color: #ffffff;
  gap: 10px;
  border: 1.8016px solid #136951;
  border-radius: 8px;
}

.inux-roadmap-container .title button:hover {
  box-shadow: 0px 5px 15px rgba(16, 110, 84, 0.7), 0px 5px 20px rgba(16, 110, 84, 0.5);
}

.inux-roadmap-container .content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15rem !important;
}

.inux-roadmap-container .title .text {
  max-width: 600px;
  margin: 2rem auto;
}

.inux-roadmap-container .title .text h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 58px;
  color: #ffffff;
}

.inux-roadmap-container .title .text p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
}

.inux-roadmap-container .content {
  position: relative;
  margin-top: 8rem !important;
  margin-bottom: 20rem !important;
}

.inux-roadmap-container .absolute-content.first {
  position: absolute;
  top: 0;
  left: 15.5%;
  bottom: 0;
  right: 0;
  transform: translateY(-8px);
}

.inux-roadmap-container .absolute-content.second {
  position: absolute;
  top: 50%;
  left: 15.5%;
  bottom: 0;
  right: 0;
  transform: translateY(-10px);
}

.inux-roadmap-container .absolute-content.third {
  position: absolute;
  top: 100%;
  left: 15.5%;
  bottom: 0;
  right: 0;
  transform: translateY(-15px);
}

.inux-roadmap-container .absolut-content-item .img-con {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.inux-roadmap-container .absolut-content-item .img-con img {
  width: 100%;
  display: block;
}

.inux-roadmap-container .absolut-content-item h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  margin-top: 1rem;
  margin-bottom: 0;
}

.inux-roadmap-container .absolut-content-item .dark-box {
  background: rgba(196, 196, 196, 0.12);
  border-radius: 19.2246px;
}

.inux-roadmap-container .absolut-content-item .dark-box h4 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}

.inux-roadmap-container .absolut-content-item .dark-box p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
}

/* ===================================
    ROAD MAP STYLE ENDS HERE
====================================== */

/* ===================================
    FAQS STYLE STARTS HERE
====================================== */
.inux-faqs-container .title h2 {
  font-family: Arvo;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 65px;

  color: #136951;
}

.inux-faqs-container .title h2 strong {
  color: #ffffff;
}

.inux-faqs-container .title p {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 25px;
  color: #ffffff;
  margin-top: 1rem;
}

.inux-faqs-container .faq-flex {
  gap: 2rem;
  margin: 5rem 0;
  margin-top: 8rem;
}

.inux-faqs-container .accordion-con {
  max-width: 600px;
  width: 100%;
  flex: 1;
}

.inux-faqs-container .accordion-con .item {
  width: 100%;
  border-top: 0.5px solid #ffffff;
  border-bottom: 0.5px solid #ffffff;
}

.inux-faqs-container .accordion-con .item button:focus {
  box-shadow: none !important;
}

.inux-faqs-container .accordion-con .item h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 47px;
  color: #ffffff;
}

.inux-faqs-container .accordion-con .item p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 25px;
  color: #ffffff;
}

.inux-faqs-container .faq-flex .img-con {
  max-width: 600px;
  flex: 1;
}

.inux-faqs-container .faq-flex .img-con img {
  width: 100%;
}

/* ===================================
    FAQS STYLE ENDS HERE
====================================== */

/* ===================================
    FOOTER STYLE STARTS HERE
====================================== */
.inux-footer-container {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.inux-footer-container .title h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 50px;
  color: #ffffff;
}

.inux-footer-container .contact-info-item {
  gap: 15px;
}

.inux-footer-container .contact-info-item img {
  max-width: 30px;
}

.inux-footer-container a {
  text-decoration: none;
  color: #ffffff;
}

.inux-footer-container a:hover {
  color: var(--primary-color);
}

.inux-footer-container .contact-info-item p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 17px;
  line-height: 22px;
  /* color: #ffffff; */
  text-decoration: none;
}

.inux-contact-us-form-input {
  width: 100%;
}

.inux-contact-us-form-input input,
.inux-contact-us-form-input textarea {
  display: block;
  background: rgba(255, 255, 255, 0.22);
  height: 50px;
  border: none;
  outline: none;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  font-weight: 600;
}

.inux-contact-us-form-input textarea {
  resize: none;
  height: 150px;
  padding: 15px 10px;
}

.inux-contact-us-form-input input::placeholder,
.inux-contact-us-form-input textarea::placeholder {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 33px;
  color: rgba(255, 255, 255, 0.22);
  opacity: 0.8;
}

.inux-footer-container .contact-us-form {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.inux-footer-container .contact-us-form .name-email {
  gap: 30px;
}

.inux-footer-container .contact-us-form button {
  color: #ffffff;
  border-color: var(--primary-color);
}

.inux-footer-container .contact-us-form button:hover {
  box-shadow: 0px 5px 15px rgba(16, 110, 84, 0.7), 0px 5px 20px rgba(16, 110, 84, 0.5);
}

.inux-footer-container .quick-links-con {
  margin-top: 6rem;
  align-items: center;
  gap: 2rem;
}

.inux-footer-container .quick-links-con > div {
  max-width: 230px;
}

.inux-footer-container .quick-links-con .logo-con img {
  width: 100%;
}

.inux-footer-container .quick-links-con .logo-con p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 27px;
  color: #ffffff;
  opacity: 0.7;
  margin-top: 1rem;
}

.inux-footer-container .quick-links-con ul {
  list-style: none;
}

.inux-footer-container .quick-links-con ul li {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  margin: 0.5rem 0;
}

.inux-footer-container .quick-links-con h3 {
  margin-bottom: 2rem;
}

.inux-footer-container .footer-bottom-content hr {
  border: 2px solid #ffffff;
  background-color: #ffffff;
}

.inux-footer-container .copyrights-con .first h4 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: #ffffff;
}

.inux-footer-container .copyrights-con .terms-and-conditions {
  gap: 3rem;
}

.inux-footer-container .socila-links-con {
  margin-top: 5rem;
}

.inux-footer-container .socila-links-con > div {
  gap: 1rem;
}

.inux-footer-container .socila-links-con img {
  max-width: 25px;
}
/* ===================================
    FOOTER STYLE ENDS HERE
====================================== */
