@media (max-width: 1299.98px) {
}

@media (min-width: 1200px) {
}

/* col-xl */
@media (max-width: 1199.98px) {
  .app-container {
    padding: 0 3rem;
  }
  .inux-hero-con .routes-flex {
    gap: 50px !important;
  }
  .inux-hero-con .logo-con {
    max-width: 250px;
  }
  .inux-hero-con .content {
    padding-left: 3rem;
  }
  .inux-hero-con .gradient-img-con {
    max-height: 500px;
    max-width: 500px;
  }
  .inux-hero-con .gradient-img-con .bitcoin-img-con {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-43%, -50%);
    height: 300px;
    width: 300px;
  }
}

/* col-lg */
@media (max-width: 991.98px) {
  .app-container {
    padding: 0 2rem;
  }
  .inux-hero-con .routes-flex {
    gap: 40px !important;
  }
  .inux-hero-con .logo-con {
    max-width: 200px;
  }
  .inux-hero-con .content {
    padding-left: 2rem;
    margin-top: 110px;
  }
  .inux-second-section-container .first .text-content h3,
  .inux-second-section-container .third-header h3 {
    font-weight: 800;
    font-size: 35px;
    line-height: 45px;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 880.98px) {
  .inux-hero-con .routes-flex {
    display: none !important;
  }
  .inux-hamburger-menu {
    display: inline-block !important;
  }
  .inux-hamburger-menu img {
    max-width: 20px;
  }
  .inux-hero-con .content {
    padding-left: 2rem;
    margin-top: 70px;
  }
  .inux-second-section-container .first .text-content h3,
  .inux-core-team-section .title h2,
  .inux-footer-container .title h3 {
    /* font-weight: 800; */
    font-size: 30px;
    line-height: 42px;
  }
  .inux-core-team-section .title h2 {
    margin: 1rem;
  }
  .crypro-cards-grid-container {
    margin-bottom: 2rem;
  }
  .inux-core-team-section .core-team-con h3 {
    font-size: 34px;
    line-height: 49px;
  }
  .inux-core-team-section .core-team-con .first-grid-con,
  .inux-core-team-section .core-team-con .second-grid-con {
    gap: 80px;
    justify-items: center;
  }
  .quarter-review-container .grid-con {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  .inux-roadmap-container .title .text h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .inux-faqs-container .title h2 {
    font-size: 40px;
    line-height: 55px;
  }
  /* .inux-roadmap-container .content {
    position: relative;
    margin-top: 4rem !important;
    margin-bottom: 20rem !important;
  } */
  .inux-faqs-container .faq-flex {
    margin: 3rem 0;
  }
  .inux-faqs-container .accordion-con .item h3 {
    font-size: 20px;
    line-height: 40px;
  }
  .inux-faqs-container .accordion-con {
    max-width: unset;
  }
  .inux-faqs-container .faq-flex .img-con {
    max-width: unset;
    width: 100%;
  }
  .inux-footer-container {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
  .inux-footer-container .quick-links-con {
    margin-top: 4rem;
  }
}

@media (min-width: 767.98px) {
}

/* col-md */
@media (max-width: 767.98px) {
  .inux-second-section-container .second .text-content {
    border: none;
  }

  .inux-hero-con {
    min-height: unset;
    /* background-color: blue; */
  }
  .inux-second-section-container .first .text-content h3 {
    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
  }
  .inux-second-section-container .first,
  .inux-second-section-container .third {
    margin-bottom: 2rem;
  }
  .inux-second-section-container .first .text-content p,
  .inux-second-section-container .third .text-content p {
    font-size: 20px;
    line-height: 32px;
  }
  .inux-faqs-container .title h2 {
    font-size: 32px;
    line-height: 45px;
  }
  .inux-footer-container .quick-links-con ul {
    padding: 0;
  }
  .inux-footer-container .quick-links-con > div:nth-of-type(2),
  .inux-footer-container .quick-links-con > div:nth-of-type(3) {
    max-width: unset;
  }
  .inux-footer-container .quick-links-con ul li {
    font-size: 14px;
    line-height: 25px;
  }

  .inux-footer-container .quick-links-con h3 {
    margin-bottom: 1rem;
    font-size: 19px;
  }
  .inux-footer-container .copyrights-con .first h4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
  .inux-hero-con .content .top-text-con {
    margin-left: 0;
  }
}

@media (max-width: 500.98px) {
  .app-container {
    padding: 0 1rem;
  }
  .inux-hero-con .logo-con {
    max-width: 180px;
  }
  .inux-hero-con .content {
    padding-left: 1rem;
    margin-top: 50px;
  }
  .inux-hero-con .content h2 {
    font-size: 40px;
    line-height: 62px;
  }
  .inux-hero-con .gradient-img-con {
    max-height: 400px;
    max-width: 400px;
    width: 100%;
  }
  .inux-hero-con .gradient-img-con .bitcoin-img-con {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-43%, -50%);
    height: 300px;
    width: 300px;
  }
  .inux-hero-con .gradient-img-con .yellow-img-con,
  .inux-hero-con .gradient-img-con .green-bitcoin-img-con,
  .inux-hero-con .gradient-img-con .sold-img-con,
  .inux-hero-con .gradient-img-con .lower-icon-con {
    display: none;
  }
  .inux-second-section-container .first .text-content h3,
  .inux-core-team-section .title h2,
  .inux-footer-container .title h3 {
    /* font-weight: 800; */
    font-size: 26px;
    line-height: 36px;
  }
  .inux-second-section-container .first .text-content p,
  .inux-second-section-container .third .text-content p {
    font-size: 17px;
    line-height: 29px;
  }
  .inux-roadmap-container .title .text h2 {
    font-size: 25px;
    line-height: 35px;
  }
  .inux-faqs-container .title h2 {
    font-size: 27px;
    line-height: 45px;
  }
  .inux-faqs-container .title p {
    font-size: 18px;
    line-height: 25px;
  }
  .inux-footer-container {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .whitepaper-button {
    width: 100%;
  }
  .inux-hero-con .content p {
    font-size: 18px;
  }
}

@media (max-width: 299.98px) {
}
